<p>Xin chào {{ name }},</p>
<p>Vui lòng ấn vào bên dưới để xác nhận email</p>
<p>
    <a href="{{ url }}">Xác nhận</a>
</p>

<p>Nếu bạn không yêu cầu email này, bạn có thể bỏ qua nó một cách an toàn</p>
